.page{
  display: flex;
  flex-direction: column;
  flex: 3;
}

#menu a{
  margin-right: 50px;
}
tr.colorr {
  background:white;
}
table{
  background: #D8BFD8;
  text-align: center;
}
#name{
  color: white;
}

header{
  background-color:#e9723d;
  padding:10px;
}
body{

  background-image: linear-gradient(#7c7b89, #f1e4de, #f4d75e, #e9723d, #0b7fab);
}

#divb{

  background-color:#f4d75e;

  height:120px;

}
#myimg{
  float:left;

  width:100px;
  height:100px;
}

div.divg{
  margin: 0 auto;
  background-color:#E6E6FA;

}
footer{
  color: #8B008B;
  background-color:#E6E6FA;

  width: 100%;
}
@media screen and (min-width: 800px) and (orientation: landscape) {
  div.divg{
    width:70%;
  }
}
